<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>APK & SMS Phishing Detector</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<!-- Navbar -->
<nav class="navbar">
    <h2>SecureScan</h2>
    <ul>
        <li>Home</li>
        <li>Scan APK</li>
        <li>SMS Check</li>
        <li>About</li>
    </ul>
</nav>

<!-- Hero Section -->
<section class="hero">
    <h1>Detect Fake APK & Phishing SMS</h1>
    <p>AI-based system to protect you from fraud and malware</p>
    <button>Scan Now</button>
</section>

<!-- Scan Section -->
<section class="scan">
    <h2>Scan APK File</h2>
    <input type="file">
    <button>Check APK</button>

    <h2>Paste SMS / URL</h2>
    <textarea id="sms" placeholder="Paste SMS here..."></textarea><br><br>
    <button onclick="scanSMS()">Scan Message</button>
    <p id="smsResult"></p>

</section>

<!-- Footer -->
<footer>
    <p>© 2026 SecureScan | College Project</p>
</footer>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>